@font-face { 		font-family: "Inconsolata-Bold"; 		src: url(./Inconsolata-Bold.ttf) format("truetype");		font-weight: normal; 		font-style: normal; }
@font-face { 		font-family: "Inconsolata-Regular"; 		src: url(./Inconsolata-Regular.ttf) format("truetype");		font-weight: normal; 		font-style: normal; }
